{% load static from staticfiles %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Blog
        </title>
        <link href="{% static 'blog_list.css' %}" rel="stylesheet" e="text/css">
    </head>
    <body>
        <div class = "wrapper">
            <h1><a href="{% url 'blog:list' %}"><img src="{% static 'logo.png' %}"/></a></h1>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <form class = "logout_link" action = "{% url 'account:logout' %}" method = "POST">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    <li><a href="{% url 'blog:create' %}">New Blog</a></li>
                    {% else %}
                    <li> <a href="{% url 'account:login' %}">Login</a></li>
                    <li><a href="{% url 'account:signup' %}">Sign up</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% block content %}
            {% endblock %}

        </div>
    </body>
</html>