{% load static %}
<!doctype html>
<html>
      <meta charset = "utf-8">
      <head>
            <title>
                  MAY'S WEBSITE
            </title>
      </head>
      <link href="{% static 'home.css' %}" rel="stylesheet" e="text/css">

      <body>
            <div id = "wrapper">
                  <div id = "paragraph">
                        -Some Questions Related To My First Year Study-
                  </div>   
                  <img src="{% static 'top_banner.png' %}" alt="" />
                  <img src="{% static 'banner.png' %}" alt="" />
                  <img src="{% static 'top_banner.png' %}" alt="" />
                  <img src="{% static 'banner.png' %}" alt="" /> 
                  <img src="{% static 'top_banner.png' %}" alt="" />  
                  <img src="{% static 'banner.png' %}" alt="" /> 
                  
                  <div id = "list">
                        <li>What I have enjoyed study this year?</li>
                        <p>
                               This year I started my first year computer science studying. 
                              I experienced many interesting lessons, such as programming in java,
                               artificial intelligence etc. Artificial intelligence is the most amazing module for me. 
                               During the lectures and labs, I learnt many useful knowledge like algorithms,
                                which would in really helpful in future learning. 
                        </p>
                        <li>What I am looking forward to learn about in next academic year?</li>
                        <p>
                              In the upcoming year, the most attracting module for me is programming in C\C++.
                               I believe learning more languages could help me build better programming skill. 
                               Meanwhile, I am really interested in Artificial Intelligence module in year 2. 
                               It could bring interesting labs and more amazing algorithms. 
                        </p>
                        <li>Bridging coursework: How Django works?</li>
                        <p>
                              At the start of building a website, I need to create a virtual environment,
                               and upload all the tools I need, for example Django and python.Then,
                                I begin to write views and html file, and import them to the url file.
                                 After that, I had my first webpage, which is called home. 
                                 If I want my webpage be more beautiful, 
                                 I would create CSS file to make webpage exactly like what I expected. 
                              However, the functions of my website may be too simple, 
                              therefore I need to create apps to complete other function.
                               Firstly, we need to use command prompt to create a new app. 
                               We may need to store some data, so we make changes in models.py.
                                Subsequently, we will see data names in admin website. 
                                Following by that is entirely what I did at the first.
                              
                               
                        </p>
                        <li><a href = "http://127.0.0.1:8000/blog/">Do You Wannna Try My Blog? Click Me!</a></li>
                  </div>

            </div>
      </body>



</html>